.container-fluid {
    background-color: #f8f9fa;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  h5 {
    margin-bottom: 1rem;
  }
  
  ul {
    padding-left: 0;
  }
  
  li {
    list-style: none;
    margin-bottom: 0.5rem;
  }
  
  i {
    margin-right: 0.5rem;
  }