<div class="container-fluid bg-light py-4">
    <div class="row justify-content-center">
      <div class="col-md-3">
        <img src="assets/bytepay_square.png" width="100">
        <p>
            Unit 305, Block F, Phileo Damansara 1, 46350, Petaling Jaya, Selangor
        </p>
        <p>
          <i class="fas fa-envelope">{{'support@bytepay.my'}}</i>
        </p>
      </div>
      <div class="col-md-3">
        <h5 style="text-align: right;">Payment Methods</h5>
        <ul class="list-unstyled" style="float: right;" >
          <li ><img height="60px" src="assets/duit_now/primary.png"></li>
          <li ><img height="60px" src="assets/Logo-FPX.png"></li>
        </ul>
      </div>
    </div>
  </div>